<!DOCTYPE html>
<html>
<head>
  <title>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="jquery.backstretch.min.js"></script>
<script>
    $.backstretch("http://assets1.ignimgs.com/thumbs/userUploaded/2015/11/2/supergirl-5600ba91aaa40-1446513980714_large.jpg");
</script>

  </title>
</head>
<body>

<%= image_tag("http://assets1.ignimgs.com/thumbs/userUploaded/2015/11/2/supergirl-5600ba91aaa40-1446513980714_large.jpg", width: '300', height: '300', alt: 'Site Logo', class: "logo") %>

</body>
</html>